
<!-- Homepage -->

<!-- Body -->
<!-- Head -->
     <div class="jumbotron text-center">
        <h1>Science News Scraper</h1>
        <p></p>
        <a class="btn-fetch btn btn-primary" href="#" role="button" id="scrape">Grab New Articles</a>
    </div>
<!-- This controls where the articles are displayed. -->
    <div class="col-md-12">
        {{#if article}}
            {{#each article}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>{{this.title}}</h4>
                </div>
                <div class="panel-body">
                    <p> {{this.summary}}</p>
                    <a href={{this.link}} target="_blank">{{this.link}}</a>
                    <br><br>
                    <button type="button" class="btn btn-success save" data-id={{this._id}}>Save Article</button>
                </div>
            </div>
            {{/each}}
        {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
            <h4>No new articles.</h4>
            </div>
         </div>
        {{/if}}
    </div>
</div>